.featured
{
    width:100%;
    max-width: 1024px;
    display:flex;
    justify-content: space-between;
    gap: 20px;
    z-index:1;
}

.featuredItem
{
    position: relative;
    color:white;
    border-radius: 10px ;
    overflow: hidden;
    height: 250px;
}

.featuredImg
{
    width: 100%;
    object-fit:cover;
}

.featuredTitles
{
    position: absolute;
    bottom: 80px;
    left: 20px;
}

.featuredItem {
    overflow: hidden;  
}

.featuredImg {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.featuredItem:hover .featuredImg {
    transform: scale(1.1);
    opacity: 0.8;
}

.bg{
    color:white;
}
